sudo vim /etc/systemd/system/robot_startup.service

[Unit]
Description=Cubic Doggo Robot Bringup
After=network.target

[Service]
Type=simple
User=kali
ExecStart=/home/kali/Documents/CubicDoggo/start_robot.sh
KillMode=control-group
# Restart=no
Restart=on-failure
RestartSec=10

Nice=-10
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=90
LimitRTPRIO=95
LimitMEMLOCK=infinity

[Install]
WantedBy=multi-user.target



